<html>

<head>
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>
        .page-container{
            position: relative;
            min-height: 100vh;
        }
        .repocard * {
            font-size: 14px;
        }

        .repolink .repocard:hover {
            cursor: pointer;
            border: solid 1px #007BFF;
            box-shadow: 0px 2px #007BFF;
            transition: all 0.3s ease;
        }

        .basic-card {
            background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
        }

        .heading {}
    </style>
    <script>
        var openFilterFlag = 1;

        function openFilterPanelDisplay() {
            if (openFilterFlag) {
                document.getElementById("openFilterPanel").style.display = 'block';
                openFilterFlag = 0;
            } else {
                document.getElementById("openFilterPanel").style.display = 'none';
                openFilterFlag = 1;
            }
        }

        var closeFilterFlag = 1;

        function closeFilterPanelDisplay() {
            if (closeFilterFlag) {
                document.getElementById("closeFilterPanel").style.display = 'block';
                closeFilterFlag = 0;
            } else {
                document.getElementById("closeFilterPanel").style.display = 'none';
                closeFilterFlag = 1;
            }
        }
    </script>
</head>

<body>
    <div class="page-container">
        {{fheader}}
        <div class="container" style="padding-top:20px;padding-bottom:40px;">
            <div class="basic row mb-5">
                <div class=" col-12">
                    <span class="text-muted" style="font-size:18px;">Basic information</span>
                    <button class="btn btn-primary btn-sm" style="float:right;">Edit</button>
                    <hr>
                    <div class="card basic-card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size:24px;">{{uname}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{uid}}</h6>
                            <a href="#" class="card-link">
                                <a class="btn btn-outline-danger text-danger btn-sm mr-2 shadow-sm">JIIT</a>
                                <a class="btn btn-outline-info text-info btn-sm mr-2 shadow-sm">B.Tech</a>
                                <a class="btn btn-outline-warning text-warning btn-sm mr-2 shadow-sm">CSE</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="openTopics row mb-5">
                <div class="basic col-12 heading">
                    <span class="text-muted" style="font-size:16px;">Your topics</span>
                    <a class="btn btn-primary btn-sm" href="/create" style="float:right;">+ Create new</a>
                    <button style="display: none" class="btn btn-outline-primary btn-sm mr-3" onclick="openFilterPanelDisplay();" style="float:right;">Filters</button>
                    <hr>
                </div>
                <div id="openFilterPanel" class="filterPanel col-12" style="display:none;">
                    <div class="row mb-2">
                        <div class="col-lg-3 col-sm-6 mb-2">
                            <input type="text" placeholder="Topic name" class="form-control form-control-sm"/>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <select class="form-control form-control-sm">
                                <option>Course name</option>
                                <option>Course A</option>
                                <option>Course B</option>
                                <option>Course C</option>
                                <option>Course D</option>
                            </select>
                        </div>
                        <!-- <div class='col-lg-3 col-sm-3'></div> -->
                        <div class="col-lg-2 col-sm-4">
                            <select class="form-control form-control-sm">
                                <option>Batch year</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-sm-4">
                            <select class="form-control form-control-sm">
                                <option>Batch name</option>
                                <option>A1</option>
                                <option>B7</option>
                                <option>C3</option>
                                <option>D3</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-sm-4">
                            <button class="btn btn-primary btn-sm float-right btn-block">Filter</button>
                        </div>
                    </div>
                    <!-- <hr> -->
                </div>
                {{dyfprofile}}
                
            </div>
            <div style="display: none;" class="closedTopics row mb-5">
                <div class="basic col-12 heading">
                    <span class="text-muted" style="font-size:16px;">Your closed topics</span>
                    <button class="btn btn-outline-primary btn-sm" onclick="closeFilterPanelDisplay();" style="float:right;">Filters</button>
                    <!-- <a class="btn btn-primary btn-sm" href="createTopic.php" style="float:right;">+ Create new</a> -->
                    <hr>
                </div>
                
                <div id="closeFilterPanel" class="filterPanel col-12" style="display:none;">
                    <div class="row mb-2">
                        <div class="col-lg-3 col-sm-6 mb-2">
                            <input type="text" placeholder="Topic name" class="form-control form-control-sm"/>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <select class="form-control form-control-sm">
                                <option>Course name</option>
                                <option>Course A</option>
                                <option>Course B</option>
                                <option>Course C</option>
                                <option>Course D</option>
                            </select>
                        </div>
                        <!-- <div class='col-lg-3 col-sm-3'></div> -->
                        <div class="col-lg-2 col-sm-4">
                            <select class="form-control form-control-sm">
                                <option>Batch year</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-sm-4">
                            <select class="form-control form-control-sm">
                                <option>Batch name</option>
                                <option>A1</option>
                                <option>B7</option>
                                <option>C3</option>
                                <option>D3</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-sm-4">
                            <button class="btn btn-primary btn-sm float-right btn-block">Filter</button>
                        </div>
                    </div>
                    <!-- <hr> -->
                </div>
                <div class="col-6 mb-3">
                    <a href="topicPage.php" class="repolink" style="text-decoration:none;color:inherit;">
                        <div class="card repocard" id="elm">
                            <div class="card-body">
                                <h5 class="card-title" style="">Topic name</h5>
                                <h6 class="card-subtitle mb-3 text-muted">Course name | Batch year | Batch name</h6>
                                <h6 class="card-subtitle mb-2 text-muted">Deadline on 27/08/2018</h6>
                                <p class="card-text">[PH]Topic details</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 mb-3">
                    <a href="topicPage.php" class="repolink" style="text-decoration:none;color:inherit;">
                        <div class="card repocard" id="elm">
                            <div class="card-body">
                                <h5 class="card-title" style="">Topic name</h5>
                                <h6 class="card-subtitle mb-3 text-muted">Course name | Batch year | Batch name</h6>
                                <h6 class="card-subtitle mb-2 text-muted">Deadline on 27/08/2018</h6>
                                <p class="card-text">[PH]Topic details</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
{{footer}}    </div>
    <script>
    </script>
</body>

</html>