<html>
  <head>
    <title>Homepage</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .page-container {
        min-height: 100vh;
        position: relative;
      }
      label {
        font-weight: bold;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <div class="page-container" style="background-color:#2B3137;">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 shadow-sm">
        <a class="navbar-brand text-white h1 mb-0" >JH</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" >Guest</a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link" >Browse</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control form-control-sm mr-sm-2"
              type="search"
            />
            <button class="btn btn-sm btn-outline-primary my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </nav>
      <div class="container mt-5" style="padding-bottom: 80px">
        <div class="row">
          <div class="col-sm-12 col-lg-5 p-5">
            <div class="h1 mt-5 text-light">
              JIITHub
            </div>
            <div class="h3 mt-5 text-light">
              GitHub for Jaypee
            </div>
            <span class="text-secondary">
              Built by Jaypee students for Jaypee students,where you can host
              and review code, manage projects, and build software alongside
              fellow developers
            </span>
          </div>
          <div class="col-2"></div>
          <div class="col-sm-12 col-lg-5">
            <div class="card mt-5 shadow">
              <div class="card-body">
                <form method="POST" action="auth">
                  <div class="form-group">
                      <select required  
                      class="form-control form-control-lg"
                      name="type"
                      id="type">
                      <option value="0">Student</option>
                      <option value="1">Faculty</option>
                      </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">ID</label>
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      id="enrolno"
                      name="user"
                      aria-describedby="emailHelp"
                    />
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input
                      type="password"
                      class="form-control form-control-lg"
                      name="pass"
                      id="password"
                    />
                  </div>
                  
                  
                  <small class="text-muted mr-1">Forgot your password?</small>
                  <button
                    type="button"
                    style="border-radius:50%;width:30px;font-weight:bold;"
                    class="btn btn-outline-danger btn-sm btn-circle"
                    data-toggle="tooltip"
                    data-placement="right"
                    title="Contact your network admin"
                  >
                    ?
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary btn-block btn-lg mt-4 p-3"
                  >
                    Sign in
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{footer}}
    </div>

    <script>
      $(function() {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
  </body>
</html>
