<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
        label {
            font-weight: bold;
            font-size: 14px;
        }

        .page-container {
            min-height: 100vh;
            position: relative;
        }

        .reponame {
            background-color: #FAFBFC;
            font-size: 24px;
            padding: 8px;
            width: 100%;
        }

        .basic-card {
            background-color: #FAFBFC;
        }

        .fileview {
            font-family: 'Inconsolata', monospace;
        }

        .list-group li:hover {
            background-color: #FAFBFC;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="page-container" style="background-color:white;">
        {{header}}
        <div class="container" style="padding-bottom:50px;">
            <div class="basic row mt-4">
                <div class=" col-12">
                    <div class="card basic-card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 id="repo-name" class="card-title" style="font-size:24px;">{{cname}}({{cid}})</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{name}}</h6>
                            <p class="card-text">{{fname}}({{fid}})</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card mb-4" style="font-size:14px;">
                        <div class="card-header pb-0" style="font-weight:bold;font-size:16px;">
                            Files
                            <!-- <form style="float:right;"> -->
                                <!--a href='/download?repo={{name}}' style="float:right;" class="btn btn-primary">Download repository</a-->
                            <!-- </form> -->
                        </div>
                        <ul class="list-group list-group-flush">

                            {{dyrepo}}
                        </ul>

                        <div class="card-footer pb-0">
                            <form action="/commit" method="post" enctype="multipart/form-data">
                                <div class="d-none">
                                    <input type="text" name="repo" value="{{name}}">

                                    <input type="file" name="files" onchange="this.form.submit()"
                                        class="btn btn-outline-primary btn-sm shadow-sm" style="float:right;"
                                        multiple>Upload & Commit</a>
                                </div>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input name="files" type="file" multiple class="custom-file-input">
                                        <label class="custom-file-label text-primary" for="inputGroupFile02">+ Add
                                            files</label>
                                    </div>
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary btn-sm shadow-sm">Upload &
                                            Commit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{footer}}
    </div>
    <script>
        function fopen(list) {
            list.href = 'open?repo=' + document.getElementById('repo-name').innerHTML + '&file=' + list.firstElementChild.innerHTML;
            return false;
        }
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
</body>

</html>